body {
    background-color: #202020;
    margin: 5%;
}

h1 {
    color: red;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    color: yellow;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    color: hsl(58, 100%, 88%);
    
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 1px, rgb(241, 241, 156);
    border-radius: 10px;
}